
<div class="container-fluid w-50 mt-5">

    <h1 class= "text-center mb-5"> Your events </h1>
   
    
    <div class="container custom-main-cards-container">
        <% @user_events_created.each do |event|%>
            <%= render partial: "shared/event-preview", locals: {event: event} %> <br>
        <% end %>
    </div>


</div>
