
<div class="container-fluid w-50 mt-5">

    <h1 class= "text-center mb-5"> Your events </h1>
   
    
    <div class="container custom-main-cards-container">
            <%= render partial: "event-preview", locals: {list_of_events: current_user.events_created} %> <br>
    </div>

    <div class="container">
    
        <div class="custom-main-cards-container">
            <div class="container">
                <h5>Events attended</h5>
                <%= render partial: "shared/event-preview-small", locals:{list_of_events: current_user.attended_events.past_events}%>
            </div>



        </div>
         <div class="custom-main-cards-container">
            <div class="container">
                <h5>Upcoming Events</h5>
                 <%= render partial: "shared/event-preview-small", locals:{list_of_events: current_user.attended_events.upcoming_events}%>
            </div>


        </div>
    </div>



</div>
