<% list_of_events.each do |event|%>
    <div class= "custom-card-main ">


        <div class="custom-card-main__title--small"> 
            <%= link_to event.name, event_path(event.id)%> 
        </div>

        <div class="custom-card-main__stats">
            <div class= "custom-card-main__stats__item"> 
               Date: <%= event.date%> 
            </div>             
        </div>

    <div class="custom-card-main__body"> 
        <%= truncate(event.description, length: 100)%>
    </div>


</div>
<% end %>
