
<div class= "custom-card-main ">

    <% list_of_events.each do |event|%>

        <div class="custom-card-main__title--small"> 
            <%= link_to event.name, event_path(event.id)%> 
        </div>

        <div class="custom-card-main__stats">
            <div class= "custom-card-main__stats__item"> 
                <%= event.created_at.strftime('%Y-%m-%d') %>
            </div>
            <div class= "custom-card-main__stats__item"> 
                <%= event.date%> 
            </div>       
                    
    
        </div>

    <div class="custom-card-main__body"> 
        <%= truncate(event.description, length: 50)%>
        </div>
    <% end %>

</div>

