
<div class= "custom-card-main ">

    <div class="custom-card-main__title"> 
        <%#= link_to post.title, post_path(post.id)%> title
    </div>

    <div class="custom-card-main__stats">
        <div class= "custom-card-main__stats__item"> 
            <%= event.created_at.strftime('%Y-%m-%d') %>
        </div>
        <div class= "custom-card-main__stats__item"> 
            <%= event.date%> 
        </div>          
   
    </div>

    <div class="custom-card-main__body"> 
      Details
    </div>

</div>

