

<div class="container-fluid d-flex justify-content-center">
  <div class="custom-card">
    <div class="custom-card__title">
      <h2>Create New Event</h2>
    </div>
  
    <div class="custom-card__body">
  
      <%= form_with model: [@user, @new_event] do |f| %>
        <div class="custom-card__body__field">
          <div class="card__label"><%= f.label :date %></div>
          <div class="card__field"><%= f.date_field :date %></div>
        </div>
       
    
        <div class="custom-card__body__actions">
          <%= f.submit "Create Event" %>
        </div>
        
      <% end %>
  
    </div>
    
  </div>
</div>
